<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\Users\sean\source\repos\hello.flask\venv\Scripts\python.exe"
                  arguments="..\app.py HttpPlatform module"
                  stdoutLogEnabled="true"
                  stdoutLogFile="..\logs\python-httpplatform-stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value=".." />
        <environmentVariable name="ASPNETCORE_PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>