<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="C:\Users\sean\source\repos\hello.flask\venv\Scripts\python.exe" 
                arguments="..\app.py ASP.NET Core Module V2"
                stdoutLogEnabled="true" 
                stdoutLogFile="..\logs\python-anvmv2-stdout">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value=".." />
      </environmentVariables>    
    </aspNetCore>
  </system.webServer>
</configuration>